body {
  margin-top: 10px;
}

.search {
  margin-right: 5px;
}

.circle {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.big-circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-size: 2.5em;
  line-height: 125px;
  text-align: center;
}

.current-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"]:disabled:hover {
  cursor: not-allowed;
}